<%- include header.ejs%>
<form method="post">
    标题：<br>
    <input type="text" name="title"><br>
    正文：<br>
    <textarea name="post" rows="20" cols="100"></textarea><br>
    <button type="submit">发表</button>
</form>
<%- include footer.ejs%>