<%- include header.ejs%>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file1">
    <button type="submit">提交</button>
</form>
<%- include footer.ejs%>